.elefant {
  padding-top: 20px;
  padding-bottom: 10px;
    -webkit-transition: 0.29s;
    transition: 0.29s;
    -moz-transition: 0.29s;
    -o-transition: 0.29s;
    border-radius: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .elefant:hover {
    -webkit-transition: 0.29s;
    transition: 0.29s;
    -moz-transition: 0.29s;
    -o-transition: 0.29s;
    border-radius: 10%;
  }
  
  .hd{
    padding-bottom: 1%;
    font-size: 5vh;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px black;
  }
  .pp{
    color: black;
    font-size: 3.5vh;
    text-indent: 5%;
    font-family:'Times New Roman', Times, serif;
    line-height: 2;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
    text-align:justify;
    text-align-last: center;
  }