*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    html, body {margin:0;padding:0;font-size:18px;color: #141414;line-height:1.5; background-color:#e8e8e8; font-family:'Open Sans', sans-serif;}
    a {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    a:hover {color: #9f982e;}
    h2 {font-family: 'Roboto', sans-serif; margin: 1em 0;}
    h2.border-line {
        overflow: hidden;
        margin: .3em 0 .7em;
        padding: 0 0 3px;
    }
    h2.border-line::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #c2c2c2;
        margin-right: -100%;
        margin-left: 20px;
        vertical-align: middle;
    }
    .container {
        max-width: 1050px;
        width: auto;
        padding: 2em 20px;
        margin: 0 auto;
    }
    .spacer-toc {
        height: 1.8em;
        display: flex;
        align-items: center;
    }
    .spacer-toc .fa {
        font-size: 1.4em;
        color: #c2c2c2;
    }
    .upcoming-events-wrap {margin-bottom: 30px;}
    .upcoming-events {
        display: grid;
        grid-template-areas: "date" "content";
        max-width: 480px;
        background: #fff;
        margin: 0 auto 2em;
        box-shadow: 0 10px 8px -8px #b3b3b3;
        transition: 0.4s;
    }
    .upcoming-events:hover {
        box-shadow: 0 12px 8px -8px #999;
    }
    .event-date,
    .event-date .dt-wrap,
    .event-content,
    .content-inner .ul-details,
    .content-inner .ul-details li,
    .content-media,
    .content-img,
    .content-img a,
    .content-social,
    .content-social a {
        display: flex;
    }
    
    .event-date {
        grid-area: date;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 24px;
        cursor: help;
        line-height: 1;
        text-transform: uppercase;
        transition: 0.4s ease;
    }
    .event-date:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 12px;
        z-index:2;
        background: #2c779e;
        transition: 0.4s ease;
    }
    .upcoming-events:nth-child(even) .event-date:before {background: #9e2d3f;}
    .upcoming-events:hover .event-date {color: #fff; text-shadow: 1px 1px 3px rgba(0,0,0,.23);}
    .upcoming-events:hover .event-date:before {background: #9f982e; width: 100%;}
    .upcoming-events:nth-child(even):hover .event-date:before {background: #9f982e;}
    
            /* 0/1/a */
    .event-date .dt-wrap {
        z-index: 2;  
        flex-direction: row;
        align-items: center;
    }
    .event-date .day {font-weight: 600;}
    .event-date .day,
    .event-date .day.day-md {font-size: 36px;}
    .event-date .day.day-sm {font-size: 32px;}
    
    .event-date .month-year {
        font-weight: 600;
        padding: 0 10px;
    }
            /* 0/1/b */
    .event-date .dt-ven {
        z-index: 2;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .5px;
    }
        /* 0/2 | .event-content 
        ---------------------------*/
    .event-content {
        grid-area: content;
        flex-direction: column;
        padding: 24px;
        border-top: 2px solid #9f982e;
    }
            /* 0/2/a | .content-inner */
    .content-inner {padding: 0;}
    .content-inner h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.15;
        margin: 0 0 12px;
    }
    .content-inner p {
        color: #2f4f4f;
        line-height: 1.25;
        margin: 0 0 12px;
    }
    .content-inner p.cnt-last {margin-bottom: 0;}
    
    .content-inner .ul-details {
        flex-flow: row wrap;
        font-size: 16px;
    }
    .content-inner .ul-details li {
        flex-direction: row;
        align-items: baseline;
        margin-right: 20px;
    }
    .content-inner .ul-details .fa {
        width: 16px;
        margin-right: 5px;
        text-align: center;
    }
    .content-inner .ul-details .fa {color: #2c779e;}
    .content-inner .ul-details .fa-calendar-times-o {color: red;}
    
    .content-inner .cnt-ensemble {
        padding-top: 12px;
        font-weight: 600;
    }
    .content-inner .cnt-details {font-size: 14px;}
    .content-inner .cnt-details span {display: block;}
    
            /* 0/2/b | .content-media */
    .content-media {
        flex-direction: column;
    }
    .content-img {order: 2;}
    .content-social {order: 1;}
    
    .content-img {
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: 24px auto 0;
        border: 1px solid #2f4f4f;
        position: relative;
        transition: 0.4s;
    }
    .content-img a {
        justify-content: center;
        align-items: center;
    }
    .content-img .fa {
        position: absolute;
        color: rgba(0,0,0,.28);
        font-size: 2.5em;
        text-shadow: 1px 1px 2px rgba(255,255,255,.9);
        transition: 0.4s;
    }
    .content-img img {
        width: 100%;
        max-width: 100%;
        height: 170px;
        opacity:.3;
        object-fit: cover;
        transition: 0.4s;
    }
    .content-img img:hover {opacity: 1;}
    .content-img:hover .fa {display: none;}
            
            /* 0/2/c | .content-social */
    .content-social {
        min-height: 50px;
        margin: 24px 0 0 0;
        background: #f5f5f5;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .content-social a {
        width: 45px;
        height: 45px;
        justify-content: center;
        align-items: center;
    }
    /* media queries 
    ---------------------------------------------- */
    @media (min-width: 768px) {
        .upcoming-events-wrap {
            box-shadow: 0 10px 8px -8px #b3b3b3;
        }
        .upcoming-events-wrap .upcoming-events:last-child {border-bottom:0;}
        .upcoming-events {
            grid-template-columns: 1fr 4fr;
            grid-template-areas: "date content";
            max-width: 100%;
            margin: 0 auto;
            box-shadow: none;
            border-bottom: 2px solid #9f982e;
        }
        .upcoming-events:hover {box-shadow: none;}
        .event-date {
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 0 12px 18px;
            background: #f5f5f5;
        }
        .event-date .dt-wrap {
            flex-direction: column;
            align-items: flex-start;
            padding-left:12px;
        }
        .event-date .day {font-size: 60px;}
        .event-date .month-year {padding: 0;}
        .event-date .dt-ven {
            width: 100%;
            font-size: 12px;
            padding: 12px 12px 6px;
        }
        .event-content {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 12px;
            border: 0;
        }
        .content-inner {padding: 12px;}
        .content-media {
            flex-direction: row;
            justify-content: flex-end;
            align-self: stretch;
        }
        .content-img {order: 1;}
        .content-social {order: 2;}
        
        .content-img {
            align-items: center;
            align-self: center;
            width: 86px;
            margin:0;
        }
        .content-img .fa {font-size: 1.7em;}
        .content-img img {
            width: 86px;
            max-width: 86px;
            height: 121px;
            object-fit: scale-down;
        }
        .content-social {
            flex-direction: column;
            width: 50px;
            margin: 0;
        }
    }
    
    .e{
        font-size: 6vh;
        font-weight: 600;
        text-align: center;
        padding-top: 8%;
    }



    .custom-btn {
        margin-left: 42%;
        margin-bottom: 2%;
        width: 200px;
        height: 55px;
        color: #fff;
        border-radius: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }
              .btn-2 {
        background: rgb(96,9,240);
        background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
        border: none;
        
      }
      .btn-2:before {
        height: 0%;
        width: 2px;
      }
      .btn-2:hover {
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
      }